<html ng-app="shotApp">
<head>
    <meta charset="UTF-8">
    <title>Lista de Shots</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/shotController.js"></script>
    <script src="js/services/shotAPIService.js"></script>
	<script src="js/filters/removeTagHtmlFilter.js.js"></script>
</head>
<body ng-controller="shotController">
    <div style="text-align: center;">
		<h1>{{tituloDoApp}}</h1>
		<img src="img/loading.gif" ng-show="showLoading" style="width:310px">
		
		<div class="row" ng-repeat="shot in shotCollection | orderBy: shot.title : true" ng-show="showShotCollection">
			<div>
				<div class="thumbnail">
					<img src="{{shot.images.normal}}">
					<div class="caption">
						<h4>{{shot.title}}</h4>
						<button class="btn btn-primary" ng-click="detalharShot(shot.id);">Clique para visualizar mais detalhes</button>
					</div>
				</div>
			</div>
		</div>
		<!------------------ Detalhe do Shot ------------------------------>
		<div class="row" ng-show="showDetail">
			<div>
				<img src="{{shotSelecionado.images.normal}}" style="width:300px">
				<div class="caption" style="text-align: center;">
					<h3>{{shotSelecionado.title}}</h3>
					<div><img src="{{shotSelecionado.user.avatar_url }}" style="width:100px"></div>
					<div><b>{{shotSelecionado.user.name |uppercase }}</b></div>
					
					<br>
					<div><b>Criado em:</b> <br>({{shotSelecionado.created_at | date:'dd/MM/yyyy HH:mm'}})</div>
					<div><b>Visualizações:</b><br> ({{shotSelecionado.views_count }})</div>

					<div>
					<b>Descrição:</b><br>{{shotSelecionado.description | removeTagHtml }}
					</div>
					
				</div>
				<br />
				<button class="btn btn-primary" ng-click="voltarListaDeShot();">Clique para voltar para lista de Shots</button>
			</div>
		</div>
	</div>
</body>
</html>
